@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Inter:wght@400;700&family=Lora:ital,wght@0,400;0,700;1,400;1,500;1,600;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --container-w: 90%;
}

@screen md {
  :root {
    max-width: 736px;
    margin-left: auto;
    margin-right: auto;
  }
}

* {
  scroll-behavior: smooth;
}

body {
  @apply text-dark-2d bg-white dark:bg-dark-05 dark:text-white font-sans;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}
.heading1 {
  font-size: 32px;
  font-weight: 700;
  @screen md {
    font-size: 64px;
  }
}
.heading2 {
  @apply text-purple;
  font-size: 16px;
  line-height: 1.5rem;
  font-weight: 400;
  @screen md {
    font-size: 24px;
    line-height: 29px;
  }
}
.heading3 {
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
  @screen md {
    font-size: 24px;
  }
}
.heading4 {
  @apply text-grey-75;
  font-size: 16px;
  @screen md {
    font-size: 20px;
    line-height: 24px;
  }
}
.paragraph {
  font-size: 15px;
  line-height: 24px;
  @screen md {
    font-size: 18px;
  }
}

/* general styles  */
.flexCenter {
  @apply flex justify-center items-center;
}

.flexBetween {
  @apply flex justify-between items-center;
}

.flexStart {
  @apply flex justify-start items-center;
}

.flexEnd {
  @apply flex justify-end items-center;
}

.max-width {
  @apply max-w-[1440px] mx-auto;
}

/* search  */
.searchbox {
  @apply bg-grey-f4 dark:bg-[#1f1f1f];
  border-radius: 16px;
  padding: 14px 24px;
  cursor: pointer;
  @screen md {
    padding: 22px 24px;
  }
}

.searchbox:hover,
.searchbox:focus {
  @apply border-solid border-[1px] border-purple;
}

#search {
  @apply caret-purple;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 16px;
  font-family: inherit;
  @screen md {
    font-size: 20px;
  }
}
/* remove x icon in search bar  */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: #1f1f1f 5000000s ease-in-out 0s;
  -webkit-box-shadow: 0 0 0 30px #1f1f1f inset !important;
  -webkit-text-fill-color: #fff !important;
  background-clip: content-box !important;
}

.play:hover path {
  fill: white;
}

.play:hover circle {
  opacity: 1;
}

.bullet::before {
  @apply text-purple;
  content: "\2022";
  font-weight: bold;
  display: inline-block;
  position: absolute;
  left: -20px;
  @screen md {
    left: -22px;
  }
}
