@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Inter:wght@400;700&family=Lora:ital,wght@0,400;0,700;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --container-w: 94%;
}

@screen md {
  :root {
    --container-w: 90%;
    max-width: 736px;
    margin-left: auto;
    margin-right: auto;
  }
}

* {
  scroll-behavior: smooth;
}

body {
  @apply text-dark-2d bg-white dark:bg-dark-05 dark:text-white font-sans;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}
.heading1 {
  font-size: 32px;
  font-weight: 700;
}
.heading2 {
  @apply text-purple;
  font-size: 16px;
  line-height: 1.5rem;
  font-weight: 400;
}
.heading3 {
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
}
.heading4 {
  @apply text-grey-75;
  font-size: 16px;
}
.paragraph {
  font-size: 15px;
  line-height: 24px;
}
.font-text {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
}
.source {
  @apply decoration-grey-75;
  font-size: 14px;
  text-decoration: underline;
}

/* general styles  */
.flexCenter {
  @apply flex justify-center items-center;
}

.flexBetween {
  @apply flex justify-between items-center;
}

.flexStart {
  @apply flex justify-start items-center;
}

.flexEnd {
  @apply flex justify-end items-center;
}

.max-width {
  @apply max-w-[1440px] mx-auto;
}

/* font select  */
.dropdown-enter {
  opacity: 0;
  transform: scale(0.9);
}
.dropdown-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.dropdown-exit {
  opacity: 1;
}
.dropdown-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

.nav-divider {
  @apply bg-grey-e9;
  width: 1px;
  height: 32px;
}

/* search  */
.searchbox {
  @apply bg-grey-f4 dark:bg-[#1f1f1f];
  border-radius: 16px;
  padding: 14px 24px;
  border: 1px solid transparent;
  cursor: pointer;
}

.searchbox:hover,
.searchbox:focus {
  @apply border-solid border-[1px] border-purple;
}

#search {
  @apply caret-purple;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 16px;
  font-family: inherit;
}
/* remove x icon in search bar  */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #f4f4f4 inset !important;
  -webkit-text-fill-color: #1f1f1f !important;
}

.play:hover path {
  fill: white;
}

.play:hover circle {
  opacity: 1;
}

.divider {
  @apply bg-grey-e9;
  height: 1px;
  width: 100%;
}

.definition::before {
  @apply text-purple;
  content: "\2022";
  font-weight: bold;
  display: inline-block;
  width: 20px;
}

.definition:not(:last-child) {
  margin-bottom: 4px;
}

.example {
  @apply text-grey-75;
  margin-left: 20px;
  margin-bottom: 13px;
}
